<!-- login form -->
<div class="container-fluid">
	<div class="row">
		<div class="span4 offset4 well">
			<%= render "users/partials/login" %>	
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>

