@import "bootstrap";
@import "bootstrap-responsive";

img.logoicon { 
	width : 150px;
	height : 30px;
	margin-top : -8px;
}

.btn-square { 
	width: 75px;
	height: 75px;
	margin-left: 10%;
	margin-right: 5%;
}

.hidden-junk { 
	display: none;
}

invisible { 
	display: none;
}
